@import "../abstracts/colors";
@import "./home";

body{
  height: 100vh;
  width: 100%;
  color: $primary-color;

 

  header{
    background-color:$nav-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 2rem;

    .logo{
      border-radius: 35px;
    }

    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & li{
        padding: 2rem;
        font-size: 2rem;
        list-style: none;
        cursor: pointer;
        transition: transform 0.3s;
      }

      & li:hover{
        transform: translateY(-10%);
      }

      .active{
        border-bottom: 2px solid $primary-color;
      }
    }
  }

  .main{
    padding: 4rem;
    margin: 6rem ;
    margin-bottom: 6rem;
    font-size: 2rem;
    background-color: $background-light;
    border: 1px solid $border-color;
  }
  
}
